body {
    margin: 0;
    padding: 0;
    height: 100vw;
    background: #94b5c0;
  }

  .threed-text {
    color: #350b40;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0 #350b40, 1px 2px 0 #350b40, 1px 3px 0 #350b40, 1px 4px 0 #350b40,
      1px 5px 0 #350b40, 1px 6px 0 #350b40, 1px 7px 0 #350b40, 1px 8px 0 #350b40,
      5px 13px 15px black;
  }